<h2>Reactive: Basicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" [formGroup]="ReferenciaFormulario" autocomplete="off">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto:</label>
                <div class="col-sm-9">
                    <input name="producto" type="text" formControlName="nombre" class="form-control" placeholder="Nombre del producto" minlength="3">
                     <span *ngIf="validarCampo('nombre')" class="form-text text-danger">Debe de tener minimo 3 letras</span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio:</label>
                <div class="col-sm-9">
                    <input name="precio" formControlName="precio" type="number" class="form-control" placeholder="Precio del producto" min='0'>
                    <span *ngIf="validarCampo('precio')" class="form-text text-danger">Debe de ser mayor a 0</span>

                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias:</label>
                <div class="col-sm-9">
                    <input name="existencias" formControlName="existencias" type="number" class="form-control" placeholder="Existencia del producto">
                    <span *ngIf="validarCampo('existencias')" class="form-text text-danger">las exixtencias deben> de ser mayor a 0</span>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="color-boton btn float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ReferenciaFormulario.valid}}</pre>

        <span>Pristine</span>
        <pre>{{ReferenciaFormulario.pristine}}</pre>

        <span>Touched</span>
        <pre>{{ReferenciaFormulario.touched}}</pre>

        <span>Value</span>
        <pre>{{ReferenciaFormulario.value | json}}</pre>

        <span>CustomDirective</span>
        <pre>{{ReferenciaFormulario.controls['existencias']?.errors | json}}</pre>
    </div>
</div> 